[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[dev-packages]

black = "*"


[packages]

aiohttp = "*"
"bs4" = "*"
aiotg = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
requestium = "*"
